<div class="about-details">

  <div *ngIf="!edit" >


    <ul class="custom-bullet-list">
      <li>
        Prénom: {{user.first_name}}
      </li>
      <li>
        Nom: {{user.last_name}}
      </li>
      <li>
        Date of birth: {{user.date_of_birth|revertDate}}
      </li>
      <li>
        Téléphone: {{user.phone}}
      </li>


    </ul>
    <button *ngIf="(this.userForForm.user.id === user.id)" class="btn btn-theme" (click)="preventDefault($event);edit=!edit">Modifier mes données</button>
  </div>


</div> <!--  end .about-details -->


<div *ngIf="edit">
  <nz-spin [nzSpinning]="loading">
    <form (ngSubmit)="editUser()" *ngIf="userForm" [formGroup]="userForm" class="checkout-information appoinment-form">

      <input class="form-control" formControlName="last_name" placeholder="Nom" type="text"/>
      <input class="form-control" formControlName="first_name" placeholder="Prénom" type="text"/>
      <input class="form-control" formControlName="phone" placeholder="phone" type="text"/>
      <nz-date-picker
        nzShowTime
        nzFormat="yyyy-MM-dd"
        (nzOnOk)="onChange($event)"
      ></nz-date-picker>
      <br>
      <button  id="btn_submit" class="btn btn-theme">Modifier</button>

    </form>
  </nz-spin>
</div>
