<div class="top-bar clearfix">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-sm-12">

        <form class="search-form" id="search-form" method="get" role="form">

          <div class="input-group">
            <input #box (keyup.enter)="onEnter(box.value)" class="form-control" placeholder="input search text..."
                   type="text">

          </div>

          <input type="hidden" value="submit">

        </form>

      </div>

      <div class="col-md-4 col-sm-12" style="margin-top: 12px">
        <p *ngIf="user_name">
          <strong>Welcome {{user_name}} ! </strong>
        </p>
      </div>

      <div class="col-md-4 col-sm-12" style="margin-top: 12px">
        <p>
          <span>&nbsp; <strong><a *ngIf="!user_name" href="JavaScript:void(0)"
                                  routerLink="/auth/login">LOGIN</a></strong> </span>
          <span>&nbsp; <strong><a (click)="logout()" *ngIf="user_name"
                                  href="JavaScript:void(0)"> LOGOUT</a></strong> </span>
        </p>


      </div>

    </div>

  </div> <!--  end .container -->

</div> <!--  end .top-bar  -->

<section class="header-wrapper navgiation-wrapper">

  <div class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" href="index.html"><img alt="" src="../assets/images/logo.png"></a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#" routerLink="/welcome">Home</a>

          </li>


          <li>
            <a href="#" routerLink="/campaign">Campaign</a>
            <ul class="drop-down">
              <li><a routerLink="/campaign">All Campaigns</a></li>
              <li><a routerLink="/campaign/add">Add Campaign</a></li>
            </ul>
          </li>

          <li>
            <a href="#" routerLink="/article">Articles</a>

          </li>

          <li>
            <a href="#" routerLink="/tag">Tags</a>

          </li>

          <li><a routerLink="/user">My Profile</a></li>
        </ul>

      </div>
    </div>
    <hr>
  </div>


</section>
