<div *ngIf="articleForm" class="container ">
  <div class="contact-form-block row ">
    <div class="col-md-6 col-12">

      <h2 *ngIf="!articleId" class="contact-title">Add an article</h2>
      <h2 *ngIf="articleId" class="contact-title">Edit an article</h2>

      <nz-card *ngIf="articleId&&!article" [nzLoading]="!article"></nz-card>
      <nz-spin [nzSpinning]="loading">

        <form (ngSubmit)="submitForm(articleForm.value)" [formGroup]="articleForm" id="contact-form" role="form">

          <div [ngClass]="{'has-error':title.invalid}" class="form-group">
            <input class="form-control" formControlName="title" placeholder="Title"
                   type="text">

            <ng-container *ngIf="title.invalid && (title.dirty || title.touched)">
              <span *ngIf="title.errors.required" class="help-block">Title is required</span>
            </ng-container>
          </div>


          <div class="form-group">
          <textarea [ngClass]="{'has-error':body.invalid}" class="form-control" formControlName="body"
                    placeholder="Article content"
                    rows="5">

          </textarea>
            <ng-container *ngIf="body.invalid && (body.dirty || body.touched)">
              <span *ngIf="body.errors.required" class="help-block">Body is required</span>
            </ng-container>

          </div>


          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="form-group">
                <label for="image">
                  <a class="btn btn-custom">Add Image
                  </a>
                  <input (change)="fileProgress($event)" class="form-control" id="image" name="image"
                         style="display: none"
                         type="file"/>
                </label>

              </div>
              <div *ngIf="fileUploadProgress">
                Upload progress: {{ fileUploadProgress }}
              </div>
              <div *ngIf="previewUrl" class="image-preview mb-3">
                <img [src]="previewUrl" height="300"/>
              </div>

              <div *ngIf="uploadedFilePath" class="mb-3">
                {{uploadedFilePath}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-theme" type="submit">Submit</button>
          </div>

        </form>
      </nz-spin>

    </div>
  </div>
</div>
