<section *ngIf="!hideBanner" class="page-header  animated zoomInUp" data-stellar-background-ratio="1.2"
         style="background-image: url('../../../assets/images/bg-article.jpg')">

  <div class="container">

    <div class="row">

      <div class="col-sm-12 text-center">

        <h3>
          Articles Lists
        </h3>

        <p class="page-breadcrumb">
          <a href="#">Home</a> / All Articles
        </p>


      </div>

    </div> <!-- end .row  -->

  </div> <!-- end .container  -->

</section>

<div class="container margin-top-48  animated zoomInUp">

  <div class="row section-heading-wrapper">

    <div class="col-md-12 col-sm-12 text-left no-img-separator">
      <h2>ALL ARTICLES</h2>
      <span class="heading-separator heading-separator-horizontal"></span>
    </div> <!-- end .col-sm-12  -->

  </div> <!-- end .row  -->


  <div *ngIf="articles" class="row margin-top-48">

    <div *ngFor="let article of articles" class="col-md-6 col-sm-12 margin-bottom-24">
      <div class="event-layout-1 theme-custom-box-shadow clearfix" style="min-height: 310px">
        <figure *ngIf="article.image" class="event-img">
          <a href="#" routerLink="/article/{{article.id}}">
            <img [src]="article.image|publicFolder" alt="">
          </a>
        </figure>
        <div class="event-info">
          <a class="event-date" href="#" routerLink="/user/{{article.user.id}}"><i class="fa fa-user"></i>Written
            By: {{article.user.first_name}} {{article.user.last_name}}</a>
          <h4>
            <a routerLink="/article/{{article.id}}">{{article.title|truncateDescription:30}}</a>
          </h4>
          <div class="event-exceprt" style="min-height: 84px">{{article.body|truncateDescription:80}}</div>
          <div class="event-time" style="height: 55px">
            <a href="#" routerLink="/campaign/{{article.campaign.id}}"><i class="fa fa-chain"
            ></i>Campaign: {{article.campaign.title|truncateDescription:32}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="animated fadeInUp">
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <a (click)="preventDefault($event);page=page+1;loadData(page)" *ngIf="nbArticles!==articles.length"
         class="btn btn-theme margin-top-24" href="#"
         style="margin-bottom: 20px">Show
        more</a>
    </div>
  </div>
</div>
