<section class="page-header" data-stellar-background-ratio="1.2">

  <div class="container">

    <div class="row">

      <div class="col-sm-12 text-center">

        <h3>
          Campaign Lists
        </h3>

        <p class="page-breadcrumb">
          <a href="#">Home</a> / All Campaigns
        </p>


      </div>

    </div> <!-- end .row  -->

  </div> <!-- end .container  -->

</section>

<div class="container margin-top-48">

  <div class="row section-heading-wrapper">

    <div class="col-md-12 col-sm-12 text-left no-img-separator">
      <h2>ALL CAMPAIGNS</h2>
      <span class="heading-separator heading-separator-horizontal"></span>
    </div> <!-- end .col-sm-12  -->

  </div> <!-- end .row  -->
  <nz-card [nzLoading]="!campaigns" *ngIf="!campaigns"></nz-card>

  <div *ngIf="campaigns" class="row margin-top-48">

    <div *ngFor="let campaign of campaigns" class="col-md-6 col-sm-12">
      <div class="event-layout-1 theme-custom-box-shadow clearfix" style="min-height: 310px">
        <figure class="event-img">
          <a href="#">
            <img alt="" src="{{campaign.image|publicFolder}}">
          </a>
        </figure>
        <div class="event-info">
          <a class="event-date" href="#"><i
            class="fa fa-calendar-o"></i>{{campaign.start_date|convertDate:campaign.end_date}}</a>
          <h4>
            <a routerLink="/campaign/{{campaign.id}}">{{campaign.title|truncateDescription:30}}</a>
          </h4>
          <div class="event-exceprt" style="min-height: 84px">{{campaign.description|truncateDescription:80}}</div>
          <div class="event-time">
            <a href="#"><i class="fa fa-clock-o"></i>{{campaign.start_hour|time}} - {{campaign.end_hour|time}}</a>
            <a href="#"> <i class="fa fa-map-marker"></i>{{campaign.place}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="animated fadeInUp row">
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
    <div class="col-md-6 col-sm-12 margin-bottom-24">
      <nz-card [nzLoading]="true"></nz-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a (click)="preventDefault($event);page=page+1;getAllCampaigns(page)"
         *ngIf="campaigns&&nbElements!==campaigns.length" class="btn btn-theme margin-top-24"
         href="#"
         style="margin-bottom: 20px">Show
        more</a>
    </div>
  </div>
</div>
