<section class="page-header" data-stellar-background-ratio="1.2">

  <div class="container">

    <div class="row">

      <div class="col-sm-12 text-center">

        <h3>
          Campaign Lists
        </h3>

        <p class="page-breadcrumb">
          <a href="#">Home</a> / All Campaigns
        </p>


      </div>

    </div> <!-- end .row  -->

  </div> <!-- end .container  -->

</section>

<div class="container margin-top-48">

  <div class="row section-heading-wrapper">

    <div class="col-md-12 col-sm-12 text-left no-img-separator">
      <h2>ALL CAMPAIGNS</h2>
      <span class="heading-separator heading-separator-horizontal"></span>
    </div> <!-- end .col-sm-12  -->

  </div> <!-- end .row  -->

  <div *ngIf="campaigns" class="row margin-top-48">

    <div *ngFor="let campaign of campaigns" class="col-md-6 col-sm-12">
      <div class="event-layout-1 theme-custom-box-shadow clearfix" style="min-height: 310px">
        <figure class="event-img">
          <a href="#">
            <img alt="" src="{{campaign.image|publicFolder}}">
          </a>
        </figure>
        <div class="event-info">
          <a class="event-date" href="#"><i class="fa fa-calendar-o"></i>{{campaign.start_date|convertDate:campaign.end_date}}</a>
          <h4>
            <a routerLink="{{campaign.id}}">{{campaign.title|truncateDescription:30}}</a>
          </h4>
          <div class="event-exceprt" style="min-height: 84px">{{campaign.description|truncateDescription:80}}</div>
          <div class="event-time">
            <a href="#"><i class="fa fa-clock-o"></i>{{campaign.start_hour|time}} - {{campaign.end_hour|time}}</a>
            <a href="#"> <i class="fa fa-map-marker"></i>{{campaign.place}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="false" nz-row>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8"><h1 nz-title>7amlet</h1>
  </div>
  <div nz-col nzSpan="8"></div>
</div>
<nz-list *ngIf="false" [nzDataSource]="campaigns" [nzGrid]="{ gutter: 16, span: 6 }" [nzRenderItem]="item"
         style="margin-top: 20px">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent">
      <ng-template #nzContent>
        <nz-card [nzActions]="[actionSetting, actionEdit,actionEdit2, actionEllipsis]"
                 [nzCover]="coverTemplate">
          <a routerLink="/campaign/{{item.id}}"></a>
          <nz-card-meta
            [nzAvatar]="priceTemplate"
            nzDescription="{{item.description|truncateDescription}}"
            nzTitle="{{item.title}}"
          ></nz-card-meta>
          <div>
            <nz-tag *ngFor="let tag of item.tags" [nzColor]="'#00967F'">#{{tag.name}}</nz-tag>
          </div>
        </nz-card>
        <ng-template #priceTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #actionSetting>
          <i *ngIf="currentUser&&currentUser.id===item.creator.id "
             [queryParams]="{returnUrl:'campaign'}" nz-icon
             nzType="like" routerLink="/article/add/{{item.id}}"></i>
        </ng-template>
        <ng-template #actionEdit>
          <button class="ant-btn" routerLink="{{item.id}}">Consulter</button>

        </ng-template>
        <ng-template #actionEdit2>
          <button class="ant-btn" routerLink="edit/{{item.id}}">Bénévole</button>

        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="eye"></i>
        </ng-template>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
