<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>7AMLA</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>

        </ul>
      </li>
      <li nz-submenu nzIcon="form" nzTitle="Examples">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/example/form">Basic Form</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/example/list">List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzIcon="form" nzTitle="Articles">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/article/add">Add an article</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/article">List articles</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzIcon="form" nzTitle="7amlet">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/compaign/add">Add a 7amla</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/compaign/list">7amlet</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzIcon="tag" nzTitle="Tags">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tag/add">Add a Tag</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tag">List Tags</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzIcon="tag" nzTitle="Auth">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/auth/login">Login</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzIcon="tag" nzTitle="Me">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user">Profile</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">

        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
