<form nz-form [formGroup]="campaignForm" *ngIf="tags" (ngSubmit)="submitForm(campaignForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="'Required'">
      <input nz-input formControlName="title" placeholder="title" type="email"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
      <textarea
        nz-input
        placeholder="Article description"
        formControlName="description"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
      ></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Tags</nz-form-label>
    <nz-form-control >
      <nz-select nzMode="tags" nzPlaceHolder="Tag Mode"  formControlName="tags" >
        <nz-option *ngFor="let tag of tags" [nzLabel]="tag.name" [nzValue]="tag.name"></nz-option>
      </nz-select>
    </nz-form-control>

    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!campaignForm.valid">Submit</button>
      <button nz-button (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>
