<footer>

  <section class="footer-widget-area footer-widget-area-bg">

    <div class="container">

      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="about-footer">

            <div class="row">

              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <img alt="" src="../assets/images/logo-footer.png"/>
              </div> <!--  end col-lg-3-->

              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <p>
                  7amla is a cross platform that let people to contribute in campaigns of their interests.
                  7amla is (and will always be) free to access and to use.
                </p>
              </div> <!--  end .col-lg-9  -->

            </div> <!--  end .row -->

          </div> <!--  end .about-footer  -->

        </div> <!--  end .col-md-12  -->

      </div> <!--  end .row  -->

      <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">

          <div class="footer-widget">

            <div class="sidebar-widget-wrapper">

              <div class="footer-widget-header clearfix">
                <h3>Contact Us</h3>
              </div>  <!--  end .footer-widget-header -->


              <div class="textwidget">

                <i class="fa fa-envelope-o fa-contact"></i>
                <p><a href="#">support@7amla.com</a><br/><a href="#">helpme@7amla.com</a></p>

                <i class="fa fa-location-arrow fa-contact"></i>
                <p>676 INSAT Centre Urbain Nord BP
                  <br/>Tunis Cedex 1080</p>

                <i class="fa fa-phone fa-contact"></i>
                <p>Téléphone:&nbsp; (+216) 53 834 341</p>

              </div>

            </div> <!-- end .footer-widget-wrapper  -->

          </div> <!--  end .footer-widget  -->

        </div> <!--  end .col-md-4 col-sm-12 -->

        <div class="col-md-4 col-sm-12 col-xs-12">

          <div class="footer-widget clearfix">

            <div class="sidebar-widget-wrapper">

              <div class="footer-widget-header clearfix">
                <h3>Lien utiles</h3>
              </div>  <!--  end .footer-widget-header -->


              <ul class="footer-useful-links">

                <li *ngFor="let link of this.links">
                  <a href={{link.lien}}>
                    <i class="fa fa-caret-right fa-footer"></i>
                    {{link.nom}} <b>-</b> {{link.description}}
                  </a>
                </li>


              </ul>

            </div> <!--  end .footer-widget  -->

          </div> <!--  end .footer-widget  -->

        </div> <!--  end .col-md-4 col-sm-12 -->

        <div class="col-md-4 col-sm-6 col-xs-12">

          <div class="footer-widget">
            <div class="sidebar-widget-wrapper">
              <div class="footer-widget-header clearfix">
                <h3>Newsletter</h3>
              </div>
              <p>Souscrire pour recevoir réguliérement les nouvelles 7amla's</p>
              <div class="footer-subscription">
                <p>
                  <input class="form-control" id="mc4wp_email" name="EMAIL" placeholder="Entrer votre Email" required=""
                         type="email">
                </p>
                <p>
                  <input class="btn btn-default" type="submit" value="Souscrire Maintenant!">
                </p>
              </div>
            </div>
          </div>

        </div> <!--  end .col-md-4 col-sm-12 -->

      </div> <!-- end row  -->

    </div> <!-- end .container  -->

  </section> <!--  end .footer-widget-area  -->

  <!--FOOTER CONTENT  -->

  <section class="footer-contents">

    <div class="container">

      <div class="row clearfix">

        <div class="col-md-12 col-sm-12 text-center">
          <p class="copyright-text"> Copyright 2020 - 7aml By 7amla. Tous droits reservés. </p>
        </div>  <!-- end .col-sm-6  -->

      </div> <!-- end .row  -->

    </div> <!--  end .container  -->

  </section> <!--  end .footer-content  -->

</footer>
